#top-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 100px auto;
  grid-gap: 10px;
  background-color: #2196F3;
}

#top-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding-left: 5px;
  padding-right: 5px;
}


#question-container {
  display: grid;
  grid-template-columns: auto;
  background-color: #2196F3;
}

#question-container > div {
  font-weight: bold;
}
